<div class="masker">
    <div class="tokenizer description">
    <section class="window-content">
        <h1>{{localize "vtta-tokenizer.CustomMaskEditor.title"}}</h1>
        <p>{{localize "vtta-tokenizer.CustomMaskEditor.add"}} </p>
        <p>{{localize "vtta-tokenizer.CustomMaskEditor.remove"}} </p>
        <p>{{localize "vtta-tokenizer.CustomMaskEditor.brush"}} </p>
        <div id="mask-editor-buttons" class="buttons">
            <button data-action="ok" class="tokenizer ui button" title="{{localize "vtta-tokenizer.CustomMaskEditor.save"}}"><i class="fas fa-check"></i> {{localize "vtta-tokenizer.label.Apply"}}</button>
            <button data-action="cancel" class="tokenizer ui button" title="{{localize "vtta-tokenizer.CustomMaskEditor.close"}}"><i class="fas fa-times"></i> {{localize "vtta-tokenizer.label.Cancel"}}</button>
        </div>
    </section>
    </div>
</div>
