<div class="form-description">
  <p>{{ labels.description }}</p>
  <hr>

  <p>{{ labels.tokenring-colour.description }}</p>
  <button type="button" data-action="applyPreset" data-preset="tokenring-colour" title="{{ labels.tokenring-colour.label }}" class="menu-button"><i class="fas fa-check"></i> {{ labels.tokenring-colour.label }}</button>
  <p>{{ labels.tokenring-texture.description }}</p>
  <button type="button" data-action="applyPreset" data-preset="tokenring-texture" title="{{ labels.tokenring-texture.label }}" class="menu-button"><i class="fas fa-check"></i> {{ labels.tokenring-texture.label }}</button>
  <p>{{ labels.tokenring-transparent.description }}</p>
  <button type="button" data-action="applyPreset" data-preset="tokenring-transparent" title="{{ labels.tokenring-transparent.label }}" class="menu-button"><i class="fas fa-check"></i> {{ labels.tokenring-transparent.label }}</button>
  <p>{{ labels.dynamicring.description }}</p>
  <button type="button" data-action="applyPreset" data-preset="dynamicring" title="{{ labels.dynamicring.label }}" class="menu-button"><i class="fas fa-check"></i> {{ labels.dynamicring.label }}</button>
  <p>{{ labels.nothing.description }}</p>
  <button type="button" data-action="applyPreset" data-preset="nothing" title="{{ labels.nothing.label }}" class="menu-button"><i class="fas fa-check"></i> {{ labels.nothing.label }}</button>
</div>
